{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Fira+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'backupgram/admin.css' %}">
<script defer src="{% static 'backupgram/vendor/cronstrue.min.js' %}"></script>
<script defer src="{% static 'backupgram/admin.js' %}"></script>
